body {
    background-color: rgb(18, 18, 18);
    width: 300px;
    height: 325px;
}

.track-info {
    color: white;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

#artist-name {
    color: gray;
}